/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 640px) {

  /* Styles */
  body {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  /* ------ BODY -------- */

  h4 {
    padding: 10px;
    margin: 0;
  }

  /* -BARRE MENU (NAV)----*/

  .menu-principal ul {
    padding: 5px;
    width: 100%;
    font-size: 19px;
    justify-content: space-between;
  }

  #logo {
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .menu-principal ul li {
    /* display: inline; */
    padding: 5px 5px;
  }

  .menu-principal ul li a {
font-size: 15px;
  }
  .searchBar {
    display: none;
  }

  /* ----- HEADER ----- */

  h1 {
    font-size: 32px;
  }

  /* ------ AVANTAGES ------ */
  .icones {
    flex-direction: column;
  }

  .element1 {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
  }

  .texte-icone {
    width: 100%s;
    margin-bottom: 20px;
  }

  .flex-icones div.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  /* ---- MON CONCEPT ------ */

  .texte-concept {
    text-align: center;
  }

  .image-concept {
    width: 100%;
    margin-bottom: 20px;
  }

  /*-------PRODUITS ------*/
  .products-row {
    flex-direction: column;
  }

.products-row .product {
  margin: 15px;
}
  .product-date {
    position: inherit;
  }

  /* NEWSLETTER */
  #email {
    width: 250px;
    height: 20px;
  }

  /* FOOTER */
  .contact {
    flex-direction: column-reverse;
    text-align: center;
  }

  /* FORMULAIRE */
  form, h5 {
    font-size: 30px;
  }

  textarea {
    resize: none;
  }

  #name-form {
    width: 200px;
  }

  #email-form{
    width: 200px;
  }

  /* Bouton FORMULAIRE */
  /*.buttonForm input {
    border-radius: 20px;
    margin-left: 200px;
    color: black;
    padding: 5px;
    width: 200px;
    background-color: white;
    font-size: 20px;
  }*/

  /*DIV INFORMATIONS*/
  .textesite {
    width: 100%;
  }

  /* ----- ANCRE HAUT PAGE --- */
  #ancre {
    bottom: 5px;
    right: 5px;
    font-size: 35px;
  }
}
